.link {
    background-color: #FFFFFF;
    padding: 1% 20%;
    margin: 5%;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-bottom: 0%;
    padding-top: 3%;
    border-radius: 15rem;
    margin-top: -1rem;
    margin-left: 25%;
    opacity: .7;
    font-family: 'Raleway';
    font-weight: bold;
:active{
    opacity: 1;
}
}