.ul{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    flex-grow: 1;
    justify-content: space-evenly;
    font-size: 18px;
    :nth-child(2), :nth-child(3){
        font-weight: 400;
        font-family: 'Raleway';
    }
    :nth-child(2) {
        font-family: 'Raleway';
        font-weight: 700;
    }
    li:hover {
        cursor: pointer;
    }
}

