body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Railway-EB';
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
}
@font-face {
  font-family: 'Railway-R';
  src:  url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');;
}
@font-face {
  font-family: 'Railway-B';
  src: rl('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');;
}
@font-face {
  font-family: 'Railway-M';
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
}
